<div style="width:300px">
    <h1 mat-dialog-title>Do you want to delete {{book.bookName}}?</h1>
    <div mat-dialog-content style="overflow: hidden;">
        <mat-checkbox class="example-margin" (change)="deleteDisabled=!deleteDisabled">Confirm</mat-checkbox>
        <!-- <mat-label>Type book name</mat-label>
        <input matInput type="text" (change)="onTypeBook($event)"> -->
        <br>
    </div>
    <div mat-dialog-actions align="end">
        <span>
            <button type="button" mat-flat-button color="primary" (click)="onDeleteBook()" [disabled]= "deleteDisabled">Delete</button>
            <button type="button" mat-stroked-button color="primary" (click)="CloseDialog()">Cancel</button>
        </span>
    </div>
</div>