<div class="container">   
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
        <form class="sign-in" [formGroup]="signInForm" (ngSubmit)="OnSignIn()" >

            <mat-form-field appearance="fill">
                <mat-label>Enter your email</mat-label>
                <input matInput formControlName="email" (keyup)="onChangeFunction()">
                <mat-error *ngIf="signInForm.get('email').errors?.required">
                    Please enter email
                </mat-error>
            </mat-form-field>
        
            <mat-form-field >
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="password" (keyup)="onChangeFunction()">
                <mat-error *ngIf="signInForm.get('password').errors?.required">
                    Please enter password
                </mat-error>
            </mat-form-field>
            
            <div *ngIf="loginError">
            Invalid credentials
            </div>

            <div class="button">
                <button type="submit" mat-button>Login</button>
            </div>

        </form>
    </mat-card-content>
</div> 